@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body,
.container {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  cursor: none;
      margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
}

.logo-container {
  position: absolute;
  z-index: 1000;
  left: 30px;
  top: 30px;
}

.logo {
  width: 270px;
}

.second-title {
  line-height: 18px;
  font-size: 11px;
    margin: 0;
    letter-spacing: 1.5px;
    margin-top: 0px;
    font-weight: 600;
}

.logo-wrapper {
  position: absolute;
  left: 5.3%;
  bottom: 20px;
  z-index: 10000;
  display: grid;
}

.logo-wrapper img {
  max-height: 35px;
  padding : 5px;
  margin: 0 auto;
}

.logo-wrapper #sorbonne {
  max-height: 50px;
}

.menu-container {
  position: absolute;
  font-weight: lighter;
  width: 330px;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: whitesmoke;
  box-shadow: 0px 5px 45px 5px rgba(0, 0, 0, 0.03);
  transition: box-shadow 5s ease-in-out;
}

.menu-container:hover {
  box-shadow: 0px 5px 245px 5px rgba(0, 0, 0, 0.2);
}

.menu {
  transform: translate(0, -50%);
  margin: 51vh 30px;
}


.menu .dropdown li {
  padding: 10px 0;
  list-style: none;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.menu .dropdown:hover li {
  color: red;
}

.menu .swiper-button-next {
  background-size: 18px 14px;
    top: 15%;
    width: 14px;
    height: 19px;
    margin-top: 0px;
    z-index: 2;
    transition: 0.2s;
}

.menu .swiper-button-next {
  right: 3%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'red'%2F%3E%3C%2Fsvg%3E");
}

.menu .dropdown:hover .swiper-button-next {
  transform: rotate(90deg);
}

.dropdown-content {
  display: none;
  position: relative;
  margin: 30px 0px;
  min-width: 160px;
  z-index: 1;
  color: red;
}

.dropdown:hover .dropdown-content {
  display: grid !important;
  color: red;
}

.dropdown:hover .dropdown-content-intervenant {
  display: inherit !important;
  color: red;
}

.language {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  z-index: 100;
  list-style: none;
}

.language a {
  margin-left: 10px;
}

.underline-hover-btn {
    /* display: inline-block; */
    padding: 10px 0;
    border-radius: 0;
    color: black;
    /* margin-top: 2rem; */
    /* font-weight: bold; */
    /* font-size: 0.678rem; */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.underline-hover-btn:hover {
  color: black;
}
.underline-hover-btn:hover:before {
  transform: none;
  opacity: 1;
  transition-duration: 0.4s;
}
.underline-hover-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0px;
  background: red;
  transform: translateY(6px);
  opacity: 0;
  transition: 1.8s cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}

.back {
  position: absolute;
  top: 18px;
    z-index: 1;
    left: 25%;
    color: red;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.back:hover > p::before {
  content: '\002190';
  margin-right: 10px;
  display: inline;
}

.next {
  position: absolute;
  top: 18px;
    z-index: 1;
    right: 32%;
    color: red;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

.next:hover > p::after {
  content: '\002192';
  margin-left: 10px;
  display: inline;
}

///////////////////////////////

.modal-link{
  padding : 0;
  border : none;
  border-radius : 0px;
  background: none;
  /*color:#eee;*/
}

#wrapper {
  color: red;
  padding : 0;
  border : none;
  border-radius : 0px;
  background: none;
  font-weight: lighter;
  font-family: 'Open Sans';
}

#close {
  color: red;
  padding : 0;
  border : none;
  border-radius : 0px;
  background: none;
  font-weight: lighter;
  font-family: 'Open Sans';
}

#wrapper:hover::after {
    content: '\002192';
  margin-left: 10px;
  display: inline;
}

.modal{
  box-shadow: 0px 5px 45px 5px rgba(0, 0, 0, 0.05);
  background: whitesmoke;
  height: 100vh;
  width: 400px;
}

.display{
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  z-index: 9;
  animation: slide-in 0.3s;
}

@keyframes slide-in {
  from {
    left: 0px;
  }
  to {
    left: 320px;
  }
}

.hide{
  display: none;
}

.modal-content {
  padding: 30px;
}


///////////////////////////////

.timeline {
  position: absolute !important;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 25px 5px rgba(0, 0, 0, 0.2);
}
.timeline .swiper-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.timeline .swiper-wrapper {
  transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}
.timeline .swiper-slide {
  position: relative;
  color: black;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.timeline .swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -115%;
  bottom: -10%;
  width: 100%;
  height: 100%;
}
.timeline .swiper-slide-content {
  position: absolute;
  text-align: left;
  width: 80%;
  max-width: 350px;
  right: 50%;
  top: 13%;
  transform: translate(50%, 0);
  font-size: 12px;
  z-index: 2;
}

.timeline-link {
  color: red;
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
}

.timeline-link:hover > p::after {
  content: '\002192';
  margin-left: 10px;
  display: inline;
}

.timeline .swiper-slide .timeline-year {
  display: block;
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  transform: translate3d(20px, 0, 0);
  color: black;
  font-weight: 300;
  opacity: 0;
  transition: 0.2s ease 0.4s;
}
.timeline .swiper-slide .timeline-title {
  font-weight: 800;
  font-size: 14px;
  margin: 0 0 30px;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.2s ease 0.5s;
}
.timeline .swiper-slide .timeline-text {
  line-height: 1.5;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.2s ease 0.6s;
}

.timeline .swiper-slide .timeline-yt {
  line-height: 1.5;
  opacity: 0;
  transform: translate3d(20px, 0, 0);
  transition: 0.2s ease 0.6s;
  margin-top: 10px;
}

.timeline .swiper-slide-active .timeline-year {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.6s;
}
.timeline .swiper-slide-active .timeline-title {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.7s;
}
.timeline .swiper-slide-active .timeline-text {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.8s;
}

.timeline .swiper-slide-active .timeline-yt {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.4s ease 1.8s;
  margin-left: -250px;
  margin-top: 20px;
}

iframe {
      /*box-shadow: 5px 6px 0px red;*/
      box-shadow: 105px 105px 150px 35px rgba(0, 0, 0, 0.1);
      transition: box-shadow 7s ease-in;
}

iframe:hover {
      box-shadow: 445px 285px 250px 245px rgba(255, 0, 0, 0.7);
}

.timeline .swiper-pagination {
  right: 2% !important;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  z-index: 1;
}
.timeline .swiper-pagination::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: black;
}

span.swiper-pagination-bullet {
  width: 325px !important;
}
.timeline .swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: left;
  opacity: 1;
  background: transparent;
  color: black;
  margin: 15px 0 !important;
  position: relative;
  font-size: 15px;
}
.timeline .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -58px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: red;
  transform: scale(0);
  transition: 0.2s;
}
.timeline .swiper-pagination-bullet-active {
  color: red;
}
.timeline .swiper-pagination-bullet-active::before {
  transform: scale(1);
}
.timeline .swiper-button-next,
.timeline .swiper-button-prev {
  background-size: 20px 20px;
  top: 15%;
  width: 20px;
  height: 20px;
  margin-top: 0;
  z-index: 2;
  transition: 0.2s;
}
.timeline .swiper-button-prev {
  left: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'red'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-prev:hover {
  transform: translateX(-3px);
}
.timeline .swiper-button-next {
  right: 8%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'red'%2F%3E%3C%2Fsvg%3E");
}
.timeline .swiper-button-next:hover {
  transform: translateX(3px);
}

@media screen and (min-width: 768px) {
  .timeline .swiper-slide::after {
    right: -30%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    /*box-shadow: -230px 0 150px 50vw rgba(0, 0, 0, 0.1);*/
  }
  .timeline .swiper-slide-content {
    right: 32%;
    top: 50%;
    transform: translateY(-50%);
    width: 290px;
    font-size: 11px;
    text-align: right;
  }
  .timeline .swiper-slide .timeline-year {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .timeline .swiper-slide .timeline-title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
    margin: 0;
  }
  .timeline .swiper-pagination {
    display: flex;
  }
  .timeline .swiper-button-prev {
    top: 15%;
    left: auto;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-prev:hover {
    transform: rotate(90deg) translate(-3px, 10px);
  }
  .timeline .swiper-button-next {
    top: auto;
    bottom: 15%;
    right: 15%;
    transform: rotate(90deg) translate(0, 10px);
  }
  .timeline .swiper-button-next:hover {
    transform: rotate(90deg) translate(3px, 10px);
  }
}

@media screen and (min-width: 1024px) {
  .timeline .swiper-slide::after {
    right: -20%;
    bottom: -12%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 39vw rgba(0, 0, 0, 0);
  }
  .timeline .swiper-slide-content {
    right: 32%;
  }
}

@media (max-width: 765px) {
  /* For a screen < 720px, this CSS will be read */
  .logo {
    width: 160px;
  }
  .second-title {
    font-size: 14px;
    text-align: center;
    width: 160px;
  }
  .logo-container {
    position: fixed;
    z-index: 1000;
    top: 60px; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
  }
  iframe {
    width: 400px;
  }
  .timeline .swiper-slide .timeline-yt{
    margin-left: -50px;
  }
  .timeline .swiper-slide-active .timeline-yt{
    margin-left: -50px;
  }
  .menu {
    top: 620px;
  }
  span.swiper-pagination-bullet {
    width: 207px !important;
  }
}

/*_____________CURSOR______________*/

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.cursor-dot {
    width: 20px;
    height: 20px;
    background-color: red;
}

.cursor-dot-outline {
    width: 20px;
    height: 20px;
    background-color: red;
}